// As hex codes */
$color-primary-2: #163449;
$color-primary-0: darken($color-primary-2, 20%);	// Main Primary color */
$color-primary-1: darken($color-primary-2, 10%);
$color-primary-3: lighten($color-primary-2, 20%);
$color-primary-4: lighten($color-primary-2, 40%);

$color-secondary-2: #989a9f;
$color-secondary-0: darken($color-secondary-2, 55%);	// Main Secondary color (1) */
$color-secondary-1: darken($color-secondary-2, 50%);
$color-secondary-3: lighten($color-secondary-2, 20%);
$color-secondary-4: lighten($color-secondary-2, 40%);

$color-tertiary-2: #72651D;
$color-tertiary-0: darken($color-tertiary-2, 40%);	// Main Secondary color (2) */
$color-tertiary-1: darken($color-tertiary-2, 20%);
$color-tertiary-3: lighten($color-tertiary-2, 20%);
$color-tertiary-4: lighten($color-tertiary-2, 40%);


$font-primary: 'Helvetica','Helvetica Neue','Bree Serif';//'Bree Serif', 'Balsamiq Sans', georgia, verdana;
$font-secondary: 'Montserrat';//'Roboto', 'Montserrat', 'Balsamiq Sans', georgia, verdana;
$font-display-primary: 'Lobster', georgia, verdana;
$font-display-secondary: 'Indie Flower', georgia, verdana;

$breakpoint-phone: 640px; //OLD VARIABLE
$media-big:960px;
$media-med:480px;
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 25px;

$corner-radius: 10px;


///////////////////
/// SHARED STYLES
///////////////////
.h1-style{
  width: 100%;
  margin-top: 0px !important;
  margin: 0px;
  padding: $padding-medium 0px;
  text-align: center;
  font-size: larger;
  background-color: $color-primary-2;
  color: $color-secondary-4;
}
.prop-val{
  display: flex;
}
.section-header{
  // width: 100%;
  width: 100vw;
  padding: 0px 0px;
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  
  h1 {
    @extend .h1-style;
    // border-bottom-left-radius: $corner-radius;
    // border-bottom-right-radius: $corner-radius;
    // display: none;
    @media (max-width: $media-med) {
      display: unset;
    }
    margin-top: 10px;
    margin-bottom: 10px;  
  }

  >div, >button {
    @media (max-width: $media-med) {
      margin-left: unset;
      width: 100vw;
    }
    margin-left: auto;
  }
  // button {
  //   
  //   @media (max-width: $media-med) {
  //     margin-left: unset;
  //   }
  //   align-self: center;
  // }
}

.section-title{
  // @media (max-width: $media-med) {
  //   // background-color: red;
  //   width: 100vw;
  // }
  // margin-top: 10px;
  // margin-bottom: 10px;
}
