<nav class="navbar navbar-default navbar-fixed-bottoms">
    <!-- Agrupados para pantallas pequeñas -->
    <div class="navbar-header">
      <button type="button" 
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bottom-navbar"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
    </div>

    <div class="container collapse navbar-collapse" id="bottom-navbar">
      <ul class="nav navbar-nav" ng-cloak ng-show="currentUser">
        <li><a ui-sref="enrolmentsAddForm">Agregar Inscripcion</a></li>
        <li><a ui-sref="contactsAdd">Agregar Contacto</a></li>
        <li><a ui-sref="workshopsAdd">Agregar Taller</a></li>
      </ul>
    </div>
  </nav>