@import "./vars";
@import "./slider";
///////////
/// CALLROLL.HTML
//////////
.cr-header{
  @extend .section-header;
  justify-content: space-between;
}
.cr-date{

}
.cr-list{
  margin-bottom: 20px;
}

//#9cb9d2
.cr-list{
  background-color: #e8f4ff;
  //color.scale(#e8f4ff, $lightness: +20%); 
  display: grid;
  padding-bottom: 20px;
  border: 1px solid #dde7f1;
  border-radius: 10px;
}
.toggle-show-all{
  label{
    padding-right: $padding-medium
  }
  display: flex;
  align-items: center;
  justify-content: space-evenly;	
}
.date-chooser{
  display: flex;
  justify-content: space-evenly;
}
.teacher-name{
  margin: $padding-medium 0;
  display: flex;
  justify-content: space-evenly;
  span{
    padding-right: $padding-medium 
  }
}