@import "./vars";
.dashboard-header{
	@extend .section-header;
	.actions{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
}
////////////////
// MONTH SUMMARY
////////////////
.month-summary{
	h1{
		@extend .h1-style;
		margin-top: $padding-medium !important;
		background-color: lighten($color-primary-2, 10%);
		font-size: medium;
	}
	.month-filter{
		margin-top: $padding-small;
		display: flex;
	}
}