<!-- ABOVE THE BOTTOM BAR, FOOTER TO SHOW ALERTS -->
<div class="alert-section-bottom-right">
	<div class="alert alert-{{alert.type}}" ng-repeat="alert in appModel.alerts">
		<button type="button" class="close" ng-click="closeAlert(index)">&times;</button>
		<div>{{alert.message}}</div>
	</div><!-- end alert -->
	<div class="alert alert-info" ng-show="appModel.loading">
		<div class="sk-cube-grid right">
		  <div class="sk-cube sk-cube1"></div>
		  <div class="sk-cube sk-cube2"></div>
		  <div class="sk-cube sk-cube3"></div>
		  <div class="sk-cube sk-cube4"></div>
		  <div class="sk-cube sk-cube5"></div>
		  <div class="sk-cube sk-cube6"></div>
		  <div class="sk-cube sk-cube7"></div>
		  <div class="sk-cube sk-cube8"></div>
		  <div class="sk-cube sk-cube9"></div>
		</div>
		<div class="text-center">LOADING</div>

	</div>
</div>