<head> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<base href="/">
  <link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
	<!-- <title>Contacts</title> -->
  <title>Curioso WS</title>
  <link rel="manifest" href="/manifest.json">
</head>
 
<body>
  
<article ng-app="curiosows" ng-strict-di 
  ng-controller="mainCtrl">
  
  <!-- GRID CONTAINER -->
  <div class="main-grid-container">
    
    <!-- <div>spacer</div> -->
    <!-- HEADER  -->
    <topbar class='header'></topbar>
    <!-- <div ng-include="'client/topNavbar2.html'"
      class="header" 
      style="background-color: green;"></div> -->
    <!-- END HEADER  -->

    <!-- MAIN CONTENT -->
    <div class="mainContent">
      <!-- <div ng-includes="'client/welcomeNotLoggedIn.html'"></div> -->

      <div id="wsapp">
          <!-- APP -->
            <div ui-view="" ng-shows="currentUser"></div>
          <!-- END APP -->
      </div>
    </div>
    <!-- END MAIN CONTENT -->

    <!-- ALERTS FOOTER: where alerts are shown -->
    <footer ng-include="'client/footer.html'"></footer>
    <!-- END ALERTS FOOTER -->

    <!-- FOOTER: bottom bar with actions -->
    <div class="footer">
      <!-- BOTTOM BAR -->
      <!-- <div ng-include="'client/bottomNavbar.html'"
      ng-if="canISee('admin')"></div> -->
      <!-- END BOTTOM BAR -->
    </div>
    <!-- END FOOTER -->

  </div>
    
</article>
</body>