@import "./vars";
@import "./topbar";
@import "./dashboard";
@import "../imports/components/contactsView";
@import "../imports/components/enrolmentsList";
@import "../imports/components/contactsList";
@import "../imports/components/agreement";

/* COLORS */
$white : #ffffff;
$black : #444444;
$grey : #9d9d9d;
$lightgrey : #e1e2e1;
$purple : #9c27b0;
$lightred : #fff4f5;
$lightGreen : #e4ffe0;
$green : green;
$red : red;
$blue: #4a4d7b;

// FIX
div[style="margin: 0 auto; color: red;"] {
    display: none;
}
// FIX typeahead
.crel-ws-header .dropdown-menu{
  overflow: hidden;
  max-width: 220px;
  margin-right: -60px;
  margin-left: -60px;
} 

/* UTILITIES */
.bold{
  font-weight: 900;
}
.hidden-in-mobile{
  @media (max-width: $breakpoint-phone) {
    display: none;
  }
}
.overflow-hidden{
  overflow: hidden;
}
.clickable {
  cursor: pointer;
}

.hover-clickable:hover {
  color: $purple;
  font-size: medium;
}

.left {
  float: left;
}

.right {
  float: right;
}

.green{
  color: $green
}

.red{
  color: $red
}

.small-margin {
  margin: 5px;
}

/* TOP NAV   border-radius: 0;
}

.navbar-ws {
  background-color: $black;
  color: $white;
}

/* GENERAL */

.btn-header{
  margin-left: auto;
  @media (max-width: $media-med) {
    margin-left: unset;
  }
  align-self: center;
}

html, body {
  height: auto;
  //padding-bottom: 70px;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.absent,
.lightRed {
  background-color: $lightred !important;
}

.present,
.lightGreen {
  background-color: $lightGreen !important;
}

.no-wrap {
  white-space: nowrap;
}

.hyphenate {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.no-wrap-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-long-words {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.cell-width-medium {
  max-width: 150px;
}

.adjust-to-content {
  width: 1%;
  white-space: nowrap;
}

.alert-section-bottom-right {
  width: 300px;
  right: 0px;
  position: fixed;
  bottom: 30px;
}

.well hr {
  border-color: $lightgrey;
}

.print-receipt-display-fix, .print-receipt-display-fix * {
  display: table !important;
}

.print-receipt {
  height: 20cm;
  width: 26cm;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.print-receipt table {
  border-style: dashed;
  height: 18cm;
  margin-bottom: 0px;
}

.week-view-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  background-color: $white;
  color: $black;
}

.week-view-seven {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(7, 1fr);
  background-color: $white;
  color: $black;
}

.week-view-column {
  display: grid;
  grid-template-columns: 1fr 100px;
  background-color: $white;
  color: $black;
}

.week-view-days {
  display: grid;
  grid-template-columns: repeat(5, 20px);
}

.ticket-history-container {
  display: grid;
  grid-template-columns: 160px 1fr 1fr 80px 80px 80px 80px 80px;
  text-align: center;
}

.gray-row {
  padding: 5px;
  background-color: $white;
  border-bottom: 1px solid $lightgrey;
  border-width: thin;
}

.align-left {
  text-align: left;
}

.header-row {
  font-weight: bold;
  border-bottom: 1px solid $lightgrey;
  border-width: medium;
  text-align: center;
}

/* LOGIN */
.modal-body form div {
  margin-bottom: 10px;
}
.modal-body form div input {
  width: 100%;
  padding: 10px;
  border: 1px solid $black;
  background-color: white;
}


/* HOME */
#home h2 {
  font-size: 16px;
}

/* - - - - - */
/*    APP    */
/* - - - - - */
#wsapp {
  width: inherit;
  display: block;
  max-width: 960px;
  @media (max-width: $breakpoint-phone) {
    max-width: 100vw;
  }
  margin: 0 auto;
  // margin-left: auto;
  // margin-right: auto;
}

#wsapp h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
#wsapp>header {
  border-bottom: 1px solid $lightgrey;
  box-shadow: 0 2px 2px #b7b7b7;
  //padding-bottom: 20px;
  margin-bottom: 10px
}
#wsapp .heading-menu {
  padding: 25px 0 0 0;
}
#wsapp .heading-menu > * {
  display: inline-block;
}

.content {
  padding: 20px 0;
  max-width: 100vw;
  overflow-x: scroll;
}

/* ENROLMENTS*/
#enrolment-date-controller *:not(:first-child){
  margin-left: 5px;
}

#btn-add-enrolment{
  // flex-grow: 1;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#enrolment-date-controller {
  display: flex;
  align-items: baseline;
  flex-grow: 1;

  // margin-left: 10px;
  // margin-top: 10px;
  // margin-bottom: 10px;
}

/* MODALS */
.modal-header {
  background-color: $blue;
  color: white;
  border-radius: 5px 5px 0 0;
}

@media print {
  body {
    padding-bottom: 10px;
  }
}
/* - - - - - */
/* BOOTSTRAP */
/* - - - - - */
/* BOOTSTRAP TOGGLE BUTTON */
nav .btn-group {
  float: left;
  margin-right: 20px;
}
nav .btn-group .btn-invisible {
  background-color: transparent;
  color: $lightgrey;
  padding: 15px;
  border: none;
}
nav .btn-group .btn-invisible.dropdown-toggle {
  padding-bottom: 15px 0;
  border-radius: 0;
}
nav .btn-group.open .btn-invisible, nav .btn-group.open .dropdown-toggle.btn-default:focus, nav .btn-group.open .dropdown-toggle.btn-default:hover, nav .btn-group.open .dropdown-toggle.btn-default:active {
  background-color: transparent !important;
  color: white;
}

/* BOOTSTRAP OUTLINES */
.btn-outline {
  background-color: transparent;
  color: inherit;
  transition: all 0.5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: $white;
}

.even {
  background-color: #f7f8f9;
}

.odd {
  background-color: #eaedef;
}

.header .navbar {
  margin-bottom: 0;
}

.enrolment-list {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 980px) { margin: 0px 10px; }
}

.enrolment-item {
  grid-template-columns: 1.5fr 1fr 1fr 80px 80px 30px 78px;
  grid-template-areas:
      "ename eworkshop eteacher emonth epayments epaymentstatus ebuttons";
  @media (max-width: $breakpoint-phone) {
    grid-template-areas:
      "ename emonth epayments ebuttons"
      "eworkshop eteacher epaymentstatus ebuttons";
  }
  @extend .list-row;
}

.btn-sm {
  padding: 2px 6px;
}

.item-buttons {
  display: inline-table;

  @media (max-width: $breakpoint-phone) {
    display: flex;
    flex-flow: column;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
  }
}

.enrolments-buttons{
  grid-area: ebuttons;
  @extend .item-buttons;
}

.enr-name {
  font-weight: bold;
  grid-area: ename;
  word-break: break-word;
}

.enr-workshop {
  grid-area: eworkshop;
  //@media (max-width: $breakpoint-phone) { max-width: 75px; min-width: 75px; }
}

.enr-teacher {
  grid-area: eteacher;
  justify-self: center;
  text-align: center;
}

.enr-month {
  grid-area: emonth;
  justify-self: center;
}

.enr-payments {
  grid-area: epayments;
  justify-self: center;
}

.enr-email-status {
  grid-area: epaymentstatus;
  justify-self: center;
}



///////////
/// callrollEnrolmentsList.html
//////////
.crel-ws-header{
  display: grid;
  grid-template-columns: 1fr 150px;
  padding: 15px 20px;
}
.crel-workshop{
  display: flex;
  @media (max-width: $breakpoint-phone) {
    flex-direction: column;
    justify-content: space-around;
  }
  align-items: center;
}

.crel-workshop-name{
  margin-right: 10px;
  font-weight: 700;
}

.crel-add{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.crel-add-enrolment{
  //width: 200px;
}
.crel-enrolment-container{
  margin: 0px 15px;
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #d4e5f5;
  margin: 0 20px;
}
.crel-enrolment-item{
  //max-width: 300px;
  padding: 10px 20px;
}


////////
/// MAIN LAYOUT SECTION
//////////
.main-grid-container {
  display: grid;
  // overflow: hidden;
  // height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "header"
    "main";
  @media (max-width: $media-med) {
    grid-template-rows: 0px 1fr;
  }
}

.header {
  grid-area: header;
  flex: 0 0 auto;
  background-color: $green;
  overflow: hidden;
}

.mainContent {
  @media (max-width: $breakpoint-phone) {
    max-width: 100vw;
  }
  max-width: 960px;
  grid-area: main;
  flex: 1 1 auto;
  position: relative;
  // overflow-y: auto;
  justify-self: center;
}
///////////////
.footer {
  grid-area: footer;
  flex: 0 0 auto;
  background-color: orange;
}

.list-row{
  padding: 10px 10px;
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-around;
  border-bottom: 1px solid $lightgrey;
  align-items: center;
  @media (max-width: $breakpoint-phone) {
    grid-template-columns: 1.5fr 1fr minmax(0,1fr) 50px;
  }
}