<div print-section print-only print-landscape class="print-receipt well">
  <h2>Inscritos {{$ctrl.getMonth($ctrl.search.month)}}</h2>
  <div>
  <table class="print-receipt-display-fixs table table-striped">
      <thead>
          <th ng-repeat="(key, month) in $ctrl.weekDays">
              {{month}}
          </th>
      </thead>
      <tbody> 
          <tr>
              <td ng-repeat="(key, day) in $ctrl.enrolmentsWeek">
                  <div ng-repeat="(key, ws) in day.workshops"
                    ng-init="h = 7"
                    ng-if="ws.name!='Entrenamiento Libre'"
                    style="min-height: 1cm; max-height: {{h}}cm">
                      <strong>{{ws.name | limitTo: 11}}</strong>
                      <ul class="list-unstyled">
                          <li ng-repeat="(key, enr) in ws.enrolments"
                              ng-class="{lightRed: !$ctrl.payed(enr)}">
                              {{enr.contact.first_name | limitTo:8}} {{enr.contact.last_name | limitTo:1}}
                              <span style="float: right;
                                margin-right: 2px;
                                font-size: x-small;
                                vertical-align: middle;
                                line-height: 20px;">
                              ▢▢▢▢
                              </span>
                          </li>
                      </ul>                    
                  </div>
              </td>
          </tr>
      </tbody>
  </table>
  </div>
</div>