/* The switch - the box around the slider */
$switch-size: 15px;
$sw-pad: 2px;
$switch-width: $switch-size * 2;
$switch-height: $switch-size + $sw-pad;
$slider-size: $switch-size - $sw-pad;
.switch {
  position: relative;
  display: inline-block;
  width: $switch-width;
  height: $switch-height;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: $slider-size;
  width: $slider-size;
  left: $sw-pad;
  bottom: $sw-pad;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX($slider-size);
  -ms-transform: translateX($slider-size);
  transform: translateX($slider-size);
}

/* Rounded sliders */
.slider.round {
  border-radius: $switch-height;
}

.slider.round:before {
  border-radius: 50%;
}