@import "./vars";
/////
///topbar
/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
.menu-common{
  //margin-bottom: 15px;
  display: grid;
  background: #222222;
  div a{
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-family: $font-primary !important;
  }
  // .breadcrumb{
  //   text-align: center;
  //   background-color: $color-secondary-3;
  //   color: $color-secondary-1;
  // }
  .header-menu{
    display: flex;
    flex-wrap: wrap;
    width: -webkit-fill-available;
    justify-content: space-evenly;
  }
}
.menu-at-center{
  @extend .menu-common;
  grid-template-columns: 1fr;
  // grid-template-areas: 
  //   "glob glob glob"
  //   "main main main"
  //   "bread bread bread"
  //   ;
}
.header-grid-areas{
  .main-menu{ grid-area: main;}
  // .curioso-wiki-menu{ grid-area: glob;}
  // .breadcrumb{grid-area: bread;}
  // .logo{grid-area: logo;}
}

/////////////////////
//// COLOR SHEMES 
////////////////////
.active-round-fill{
  &.active {
    background-color: $color-primary-3;
    color: $color-secondary-4;
    border-radius: 5px;
  }
}
.hover-round-fill{
  &:hover:not(.active) {
    background-color: $color-secondary-3;
    color: $color-primary-1;
    border-radius: 5px;
  }
}
.menu-colors-center{
  .main-menu{ background-color: lighten($color-secondary-1,7%);}
}
/////////////////////
//// END COLOR SHEMES 
////////////////////

.header{
  align-items: center;
  height: fit-content;
  //@extend .header-grid-areas;
  @extend .menu-at-center;
  @extend .menu-colors-center;  
  align-items: center;
  .main-menu div a{
    color: lighten($color-secondary-2, 10%)  ;
    @extend .active-round-fill;
    @extend .hover-round-fill;
  }
  
  .logo img{
    max-width: 100px;
    padding: 10px 0px 10px 30px;
  }
  
  #overlay{
    top:0;
    left: 0;
  }
 
}
// .main-menu{
//   display: flex;
//   flex-wrap: wrap;
//   width: -webkit-fill-available;
//   justify-content: space-evenly; 
//   background-color: lighten($color-secondary-1,7%);
// }
/////// OVERLAY MENU MOBILE 
$bar-width: 18px;
$bar-color: $color-primary-4;
$burger-background: $color-primary-3;
$space-bet-bars: 5px;
$bar-trans: $space-bet-bars*.7;

#overlay-button {
  $bar-height: 3px;
  padding: 13px 5px;
  background-color: $burger-background;
  border-radius: 5px;
  position: absolute;
  z-index: 5;
  cursor: pointer;
  user-select: none;
  // position
  right: $padding-medium;
  top: $padding-small;
  span {
      height: $bar-height;
      width: $bar-width;
      border-radius: 2px;
      background-color: $bar-color;
      position: relative;
      display: block;
      transition: all .2s ease-in-out;
      &:before {
        top: -$space-bet-bars;
        visibility: visible;
      }
      &:after {
        top: $space-bet-bars;
      }
      &:before, &:after {
          height: $bar-height;
          width: $bar-width;
          border-radius: 2px;
          background-color: $bar-color;
          position: absolute;
          content: "";
          transition: all .2s ease-in-out;
      }
    }
    &:hover span, &:hover span:before, &:hover span:after {
      background: $color-primary-2;
    }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: $color-primary-2;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      display: flex;
      justify-content: center;
      padding: 1em;
      a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: $color-tertiary-3;
        }
      }
    }
  }
}
@keyframes bugfix { from {padding:0;} to {padding:0;}}
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}
.header-menu-mobile{
  input[type=checkbox] {
    display: none;
  }
  
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  
  input[type=checkbox]:checked ~ #overlay-button {
      position:fixed;
    &:hover span, span{
      background: transparent;
    }
    span {
      &:before {
        transform: rotate(45deg) translate($bar-trans, $bar-trans);
        opacity: 1;
      }
      &:after {
        transform: rotate(-45deg) translate($bar-trans, -$bar-trans);
      }
    }
  }
}

/// Media Queries
.header{
  @media (max-width: $media-med) {
    //grid-template-columns: 1fr !important;
//     grid-template-areas: 
//       "logo . ."
//       "glob glob glob"
// //      "main main main"
//       "bread bread bread";
//     .logo{
//       grid-column: 1/2 !important;
//     }
  
    .header-menu.main-menu{display: none;}
    // light color
    
  }
  @media (min-width: $media-med) {
    .header-menu-mobile{
      display: none;
    }
  }
}


/// END topbar