<nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      
      <!-- Agrupados para pantallas pequeñas -->
      <div class="navbar-header">
        <button type="button" 
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand" href="#">Brand</a> -->
      </div>

      <!-- Barra Normal -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <!-- MENUS FOR ADMIN -->
          <ul class="nav navbar-nav" ng-if="canISee('admin')" 
            ng-show="currentUser" ng-cloak>
            
              <!-- DASHBOARD DROPDOWN -->
              <div class="btn-group hidden-xs">
                <button type="button" class="btn btn-default btn-invisible" ui-sref="dashboard">Dashboard</button>

                <button type="button" class="btn btn-default btn-invisible dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <li><a ui-sref="contactsAdd">Agregar Contacto</a></li>
                  <li><a ui-sref="workshopsAdd">Agregar Taller</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ui-sref="enrolmentsAddForm">Agregar Inscripcion</a></li>
                </ul>
              </div>

              <li class="visible-xs"><a ui-sref="dashboard">Dashboard</a></li>
              <li><a ui-sref="contacts">Contactos</a></li>
              <li><a ui-sref="workshops">Talleres</a></li>
              <li><a ui-sref="enrolments">Inscripciones</a></li>

            
            <!-- <li><a ui-sref="payments">Payments</a></li> -->
          </ul>

          <!-- MENU FOR TEACHERS AND ADMIN -->
          <ul class="nav navbar-nav"><li><a ng-click="gotoCallRoll()">Asistencia</a></li></ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a>{{currentUser.username}}</a>
            </li>
            <li>
              <a class=""
                ng-cloak
                ng-click="open('sm')"
                ng-show="!currentUser">Iniciar Sesión</a>
              <a class=""
                ng-cloak
                ng-click="logout()"
                ng-show="currentUser">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>