@import "../../client/vars";
$side-margin: $padding-large;
.agreement{
	display: flex;
	flex-flow: column;
	
	[type="checkbox"]{
		vertical-align: text-bottom;
	}
	p{
		text-align: justify;
  		text-justify: inter-word;
	}
	.agreement-header{
		margin-left: -$side-margin;
		margin-right: -$side-margin;
		width: 100vw;
	}
	.agreement-header1{
		@extend .agreement-header;
		display: flex;
		justify-content: center;
		// grid-template-columns: 30fr 50fr;
		background-color: $color-secondary-1;
		img{
			max-height: 60px;
		}
	}
	.datos-generales{
		display: grid;
		@media (min-width: $breakpoint-phone) {
			grid-template-columns: 1fr 1fr;
			grid-column-gap: $padding-large;
		}
	}
	.section-covid{
		@extend .section-header;
		flex-flow: column;
		align-items: normal;
		div{
			margin-left: 0;
		}
	}
	margin: 0 $side-margin;
}