<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<form class="agreement"
	ng-submit="$ctrl.addContact($ctrl.newContact)">
	<section class="section-header">
		<h1 class="agreement-header1">
			<!-- <img src="https://drive.google.com/uc?id=1VURqlxIrAuYmxzGoYq1saMFHGP9-jsib"
				class=""> -->
			<img src="https://drive.google.com/uc?id=1eKCxFwG6DoDCWlQByAXDXjrbhrQ9LjoH">
			<img src="https://drive.google.com/uc?id=1QatVtpwp1ahl3b0-zYvhx18ymWwWR7qb">
		</h1>
		<h1 class="agreement-header">Acuerdo del Usuario</h1>
		<p>
			Cualquier duda con alguna de las preguntas, comunicarse directamente con nosotros.
			<a href="https://www.facebook.com/curiosocirco"
				target="_blank">FB Curioso Circo</a> 
			whats:
			<a href="https://wa.me/529991797766?text=que Curioso! quiero saber más 🙂"
				target="_blank">9991 79 77 66</a>.
		</p>	
		
		<p>
			La danza aérea, slackline y otras disciplinas circenses, son actividades de riesgo, en las cuales se pueden sufrir lesiones o accidentes.
		</p>
		
		<p>
			Es responsabilidad de maestro y alumno, <span class="bold">poner colchones de caída</span> en los aparatos para disminuir los riesgos.
		</p>

		<p>
			Otro factor de riesgo es la confianza excesiva y el miedo paralizante, si en algún momento, sientes que corres riesgo, no estas seguro de realizar el movimiento/caída/figura/etc. <span class="bold">tienes la libertad de no hacerlo.</span>
		</p>

		<p>
			Estoy consciente de los daños físicos que pueda sufrir durante la práctica de este deporte y deslindo de toda responsabilidad civil, médica y penal a Curioso Circo y a el maestro titular del taller de cualquier accidente que suceda en sus instalaciones. 
			De igual forma, me comprometo a tomar las medidas de seguridad necesarias para cuidar de mi persona.
		</p>

		<label for='agree'>
			Estoy de acuerdo
			<input type="checkbox"
				id="agree" name="agree" value="true"
				ng-model="$ctrl.newContact.userAgreement">
		</label>
	</section>

<!-- SECCION DATOS GENERALES -->
	<section class="section-header">
		<h1>Datos Generales</h1>
		
		<div class="datos-generales">
			<div class="form-group">
				<label for="first_name">Nombre</label>
				<input type="text" id="first_name" 
					class="form-control" 
					ng-model="$ctrl.newContact.first_name"
					name="first_name"
					placeholder="James">
			</div>

			<div class="form-group">
				<label for="lastname">Apellidos</label>
				<input type="text" class="form-control" 
				 ng-model="$ctrl.newContact.last_name"
				 id="lastname" name="last_name"
				 placeholder="Bond">
			</div>

			<div class="form-group">
				<label for="cellphone">Celular</label>
				<input type="text" class="form-control" 
				 ng-model="$ctrl.newContact.phone" name="phone"
				 placeholder="999 007 0007">
			</div>
			
			<div class="form-group">
				<label>Otra Forma de Contacto (FB, IG)</label>
				<input type="text" class="form-control" 
				 ng-model="$ctrl.newContact.facebook" name="facebook"
				 placeholder="FB: jamesbond007 IG: jbond007">
			</div>

			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" 
				 ng-model="$ctrl.newContact.email" name="email"
				 placeholder="james@bond.com">
			</div>

			<div class="form-group">
				<label>
					Persona Responsable en caso de emergencia.
				</label>
				<input type="text" class="form-control" 
				 ng-model="$ctrl.newContact.responsiblePerson"
				 name="responsiblePerson"
				 placeholder="Nombre y contacto (celular de preferencia)">
			</div>

			<div class="form-group">
				<label>
					Notas medicas. Enfermedades o alergias que puedan ser de ayuda conocerlas pe: epilepsia, alergias a medicamentos, desmayos frecuentes, etc.
				</label>
				<input type="text" class="form-control" 
				 ng-model="$ctrl.newContact.medicalNotes"
				 name="medicalNotes">
			</div>

			<!-- <div class="form-group">
				<label>Carta Responsiva
					<input type="checkbox"
				 ng-model="$ctrl.newContact.responsabilityLetter" name="responsabilityLetter" value="true">
				</label>
			</div> -->
		</div>

	</section>
<!-- SECCION DATOS GENERALES -->

	<section class="section-covid">
		<h1>Sección COVID-19</h1>

		<p>
			He leído el documento de 2020 09 COVID Medidas Curioso Circo v1.0, y estoy de acuerdo en seguir lo establecido en la sección de "Recomendaciones a los Alumnos y Usuarios"
			<a href="https://drive.google.com/file/d/1k3WEhEMXqWo9eXq_40USQv0W0FodjFK-/"
				target="_blank">
			COVID Medidas Curioso Circo
			</a>
		</p>

		<div>
			<label>
				Estoy de acuerdo
				<input type="checkbox" name=""
					ng-model="$ctrl.newContact.agreedCuriosoCovid">
			</label>
		</div>

		<div>
			<label>
				Estoy de acuerdo con que tomen y registren mi temperatura
				<input type="checkbox" name=""
					ng-model="$ctrl.newContact.agreedTempCheck">
			</label>
		</div>

		<p>
			No trabajo en aglún sector de "Riesgo Alto" ni "Riesgo Muy Alto" (médicos, laboratoristas, etc) ver pag 5 de <a href="https://staticreactivacion.yucatan.gob.mx/reactivacion/pdf/YUC_Protocolo_Espacios_Independientes.pdf"
			target="_blank">Protocolo Espacios Independientes</a>
		</p>
		<label>
			No pertenezco
			<input type="checkbox" name=""
				ng-model="$ctrl.newContact.notInRiskGroup">
		</label>

		<p>
			Personas con enfermedades como asma, presión alta, diabetes, obesidad, problemas de corazón entre otras (ver lista completa en el link) tienen riezgo de complicaciones en caso de contraer COVID-19. Sugerimos en caso de tener alguna de ellas sugerimos no arriesgarse y quedarse en casa. Entiendo lo anterior y comprendo los riesgos.
		</p>
		<label>
			Comprendo los riesgos
			<input type="checkbox" name=""
				ng-model="$ctrl.newContact.knowCovidRisks">
		</label>

	</section>

	<div class="g-recaptcha" data-sitekey="6LfdvSAaAAAAAPUqcBCnRRnVGTFtATbCG6avby0o"></div>

	<input type="submit" class="btn btn-primary" value="Guardar" />
	<!-- <button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Cancelar</button> -->
</form>
