<div> 
	<header class="cr-header">
		<h1>Asistencias</h1> 
		
		<!-- TALLERISTA -->
		<div class="teacher-name">
			<span>Tallerista</span>
			<span class="bold">{{$ctrl.teacher?$ctrl.teacher.first_name:'Todos'}} 
				{{$ctrl.teacher.last_name}}
			</span>
		</div>

		<!-- DATE CHOOSER -->
		<div class="date-chooser">
			<a class="" ng-click="$ctrl.prev()">
            <span class="glyphicon glyphicon-chevron-left"></span>
            </a> 

			<label class="cr-date">
                <span>{{$ctrl.dayToString($ctrl.weekday,3)}}</span> 
				<span>{{$ctrl.day}}</span> 
				<span>{{$ctrl.monthToString($ctrl.month-1)}}</span> 
				<span>{{$ctrl.year}}</span>
			</label>  

			<a class="" ng-click="$ctrl.next()">
            <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
		</div>
		
		<!-- Rounded switch -->
		<div class="toggle-show-all"
			ng-if="$ctrl.canISee(['admin'])">
			<label>Mostrar Todos</label>
			<label class="switch">
			  <input type="checkbox" ng-model="$ctrl.showAll">
			  <span class="slider round"></span>
			</label>
		</div>

		<!-- <button type="button" 
			class="btn btn-primary btn-header"
			ui-sref="callroll({'contactId': 'all'})">Mostrar Todos
		</button> -->
		<!-- <button ng-click="$ctrl.toogleShowAll()">test {{$ctrl.sTALLERIhowAll}}</button> -->		

	</header>


	<callroll-enrolments-list ng-repeat="(key, workshop) in $ctrl.workshops"
		class="cr-list"
		workshop-id="{{workshop._id}}"
		ng-show="$ctrl.isWorkshopInThisDay(workshop,$ctrl.weekday)" 
		date="{{$ctrl._date.format('YYYY-MM-DD')}}">
	</callroll-enrolments-list>
</div> 

<!-- <pre>{{$ctrl.days | json}}</pre> -->
<!-- <pre>{{$ctrl.date.format('YYYY-MM-DD') | json}}</pre> -->