<header class="crel-ws-header">

    <!-- <h1 class="section-title">Taller</h1> -->
    <div class="crel-workshop">
      <span class="crel-workshop-name">{{$ctrl.workshop.name}}</span>
      <span class="crel-workshop-days">( {{ $ctrl.daysToString($ctrl.workshop.days) }} )</span>
    </div>


    <div class="crel-add input-group-sm">
      <!-- <label>Agregar Alumno</label> -->
      <input type="text" ng-model="$ctrl.selected"
        placeholder="Agregar Alumno" 
        uib-typeahead="(contact.first_name + ' ' + contact.last_name) for contact in $ctrl.contacts"
        typeahead-no-results="noResults"
        typeahead-wait-ms="100"
        typeahead-on-select="$ctrl.typeaheadOnSelect($item, $model, $label, $event)"
        class="form-control crel-add-enrolment"
        tabindex="1"
        autofocus>
      <i ng-show="loadingContacts"
         class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Hay Resultados
      </div>
    </div>

</header>
    

<!-- ENROLMENT LIST -->
<div class="crel-enrolment-containter">
  <div ng-repeat="enrolment in $ctrl.enrolments"
      class="crel-enrolment-item {{$index%2 == 0? 'even' : 'odd'}}
      {{$ctrl.isPresentClass(enrolment,$ctrl.day)}} "
      ng-click="$ctrl.changeAttendance(enrolment)">
    {{enrolment.contact.first_name}} {{enrolment.contact.last_name}}    
  </div>
</div>
  <!-- END ENROLMENT LIST -->

  <!-- <pre>{{$ctrl.enrolments | json}}</pre> -->

<!--   <pre>{{$ctrl.date | json}}</pre>
  <pre>{{$ctrl.day | json}}</pre> -->