<!-- <pre>{{$ctrl.newContact | json }}</pre> -->
<form ng-submit="$ctrl.addContact($ctrl.newContact)">
	<div class="form-group">
		<label for="firstNameInput">Nombre</label>
		<input type="text" id="firstNameInput" 
			class="form-control" 
			ng-model="$ctrl.newContact.first_name" name="first_name">
	</div>

	<div class="form-group">
		<label>Apellidos</label>
		<input type="text" class="form-control" 
		 ng-model="$ctrl.newContact.last_name" name="last_name">
	</div>

	<div class="form-group">
		<label>Telefono</label>
		<input type="text" class="form-control" 
		 ng-model="$ctrl.newContact.phone" name="phone">
	</div>
	
	<div class="form-group">
		<label>Facebook</label>
		<input type="text" class="form-control" 
		 ng-model="$ctrl.newContact.facebook" name="facebook">
	</div>

	<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control" 
		 ng-model="$ctrl.newContact.email" name="email">
	</div>

	<div class="form-group">
		<label>Persona Responsable</label>
		<input type="text" class="form-control" 
		 ng-model="$ctrl.newContact.responsiblePerson" name="responsiblePerson">
	</div>

	<div class="form-group">
		<label>Carta Responsiva
			<input type="checkbox"
		 ng-model="$ctrl.newContact.responsabilityLetter" name="responsabilityLetter">
		</label>
	</div>

	<input type="submit" class="btn btn-default" value="Guardar" />
	<button type="button" class="btn btn-danger" ng-click="$ctrl.cancel()">Cancelar</button>

</form>