@import "../../client/vars";
//////////
/// CONTACT LIST LAYOUT AND STYLES
/////////////

.contact-list-container{
  display: flex;
  flex-direction: column;
  .action-section{
    margin: 0px $padding-medium;
    display: grid;
    grid-template-columns: 150px 1fr;
    .search-box{
      display: flex;
      align-items: center;
      span{
        margin-right: $padding-medium;
      }
    }
    button{
      width: 200px;
      justify-self: end;
    }
  }
}

.pagination-controls{
  align-self: center;
}
.pagination{
  margin: 0;
}

.grid-container {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
}

.contacts-buttons{
  @extend .item-buttons;
  @media (max-width: $breakpoint-phone) {
    display: flex !important;
    flex-flow: row !important;
    justify-content: space-around !important;
    grid-row-start: unset !important;
    grid-row-end: unset !important;
    grid-column-start: unset !important;
  }
}

.contacts-table{
  width: 100vw;
}
.contact-row {
	grid-template-columns: 1.5fr 1fr minmax(0,1fr) 1fr 108px;
	@extend .list-row;
 	@media (max-width: $media-med) {
  		grid-template-columns: 1fr 50px !important;
  		padding: $padding-medium $padding-medium !important;
  	}
}
.no-mobile{
	@media (max-width: $media-med) {
		display: none;
	}
}

