<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1>Agregar Contacto</h1>
        </div>
      </div>
    </div>
</header>
<div class="container-fluid">
  <div class="content">
    <contacts-add-form></contacts-add-form>
  </div> 
</div>