<div class="contact-list-container">
  <!-- HEADER -->
  <header class="section-header">

    <h1 class="section-title">Contactos
    </h1>
    
    
</header>

<div class="action-section">
  <div class="search-box">
    <span class="glyphicon glyphicon-search"></span> 
    <input type="text" ng-model="$ctrl.search.first_name" class="form-control input-sm"/>
  </div>
  <button type="button" class="btn btn-primary btn-header" 
    ui-sref="contactsAdd">
    Agregar Contacto
  </button>
</div>

    <div class="contact-row">
      <div ng-click="$ctrl.sortBy('first_name')">
          Nombre
          <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
              class="glyphicon"
              ng-show='$ctrl.equals($ctrl.propertyName,"first_name")'></span>
      </div>
      <div class="no-mobile">Telefono</div>
      <div class="no-mobile">Mail</div>
      <div class="no-mobile">Facebook</div>
      <div></div>
    </div>
      
      <!-- <tr ng-repeat="contact in $ctrl.contacts | orderBy:$ctrl.propertyName:$ctrl.reverse"> -->
      <div dir-paginate="contact in $ctrl.contacts | itemsPerPage: $ctrl.perPage" total-items="$ctrl.contactsCount"
      class="contact-row {{$index%2 == 0? 'even' : 'odd'}}">

        <!-- NAME -->
        <div class="">
            <a ui-sref="contactsView({contactId: contact._id})">
            {{contact.first_name}} {{contact.last_name}}</a>
        </div>

        <!-- PHONE INFO -->          
        <div class="no-mobile">
          {{contact.phone}}
        </div>

        <!-- MAIL INFO -->
        <div class="overflow-hidden no-mobile">
            <a href="mailto:{{contact.email}}"
              target="_blank">
            {{contact.email}}</a>
        </div>
        
        <!-- FACEBOOK INFO -->
        <div class="no-wrap-ellipsis
          cell-width-medium no-mobile">
            <a href="{{contact.facebook}}" target="_blank">{{contact.facebook}}</a>
        </div>
        
        <!-- ACTIONS SECTION -->
        <div class="no-wrap contacts-buttons">
            <!-- ADD ENROLMENT BUTTON -->
            <a class="btn btn-default btn-sm hidden-in-mobile"
                ui-sref="enrolmentsAddForm({contactId: contact._id})">inscribir</a>

            <!-- EDIT BUTTON -->
            <a class="btn btn-default btn-sm"
                ui-sref="contactsEdit({contactId: contact._id})">
                <span class="glyphicon glyphicon-pencil"></span>    
            </a>
            
            <!-- DELETE BUTTON -->
            <button class="btn btn-danger btn-sm"
                ng-click="$ctrl.deleteContact(contact)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <!-- <button ng-click="$ctrl.addEnrolment(contact)">+inscripcion</button> -->
        </div>
      </div>
    <!-- END OF BODY TABLE --> 

  <!-- PAGINATION CONTROLS -->
  <dir-pagination-controls class="pagination-controls" 
    on-page-change="$ctrl.pageChanged(newPageNumber)">
  </dir-pagination-controls>
    
  <!-- <pre>{{ $ctrl | json }}</pre> -->
</div>