<header class="section-header">
  <h1>Detalle del Contacto</h1>
</header>
<!-- <pre>{{$ctrl.enrolments | json}}</pre> -->

<section class="contact-view">
	<h2>Info</h2>

	<div class="contact-props">
		<div class="prop-val">
			<div class="">Nombre:</div>
			<div class="">{{$ctrl.contact.first_name}}</div>
		</div>

		<div class="prop-val">
			<div class="">Apellido:</div>
			<div class="">{{$ctrl.contact.last_name}}</div>
		</div>

		<div class="prop-val">
			<div class="">Telefono:</div>
			<div class="">{{$ctrl.contact.phone}}</div>
		</div>

		<div class="prop-val">
			<div class="">Facebook:</div>
			<div class=""><a href="{{$ctrl.contact.facebook}}" target="_blank">{{$ctrl.contact.facebook}}</a></div>
		</div>

		<div class="prop-val">
			<div class="">Email:</div>
			<div class="">
				<a href="mailto:{{$ctrl.contact.email}}" target="_blank">{{$ctrl.contact.email}}</a>
			</div>
		</div>

		<div class="prop-val">
			<div class="">Persona Responsable:</div>
			<div class="">{{$ctrl.contact.responsiblePerson}}</div>
		</div>

		<div class="prop-val">
			<div class="">Carta Responsiva:</div>
			<div class=""><input type="checkbox" ng-checked="{{$ctrl.contact.responsabilityLetter}}" onclick="return false;"/></div>
		</div>

		<div class="prop-val">
			<div class="">Creado:</div>
			<div class="">{{$ctrl.contact.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
		</div>
	</div>

	<br>
	
	<a class="btn btn-primary"
		ui-sref="contactsEdit({contactId: $ctrl.contact._id})">
		Editar
	</a>
</section>

<enrolments-list contact-id={{$ctrl.contact._id}} order-by='month' month='all'></enrolments-list>

 