<div class="dashboard-container">
    <header class="dashboard-header">
        <h1>Dashboard</h1>
        <div class="actions">
            <button type="button" class="btn btn-primary btn-outline" ui-sref="contactsAdd">+ Contacto</button>
            <button type="button" class="btn btn-primary btn-outline" ui-sref="workshopsAdd">+ Taller</button>
            <button type="button" class="btn btn-primary btn-outline" ui-sref="enrolmentsAddForm">+ Inscripción</button>
        </div>
    </header>

    <section class="month-summary">
        <h1>Resumen de Cuentas del Mes de {{$ctrl.months[$ctrl.search.month-1].lbl}}</h1>
        
        <div class="month-filter">
        	<select ng-model="$ctrl.search.month"
           ng-options="month.val as month.lbl for month in $ctrl.months"
           class="form-control">
           <option value="{lbl:'', val:'!'}"></option>
       </select>	
       <select ng-model="$ctrl.search.year"
       ng-options="year as year for year in $ctrl.years"
       class="form-control">
       <option ng-value=''></option>
   </select>
</div>

<table class="table table-striped">
    <tr>
        <th>Taller</th>
        <th>Ingreso (Actual/Estimado)
            <a href="#" uib-tooltip="suma de los alumos que estan 
            inscritos aunque no han liquidado pago"
            tooltip-trigger="outsideClick">*</a>
        </th>
        <th>Ingreso Curioso Circo (30%)</th>
    </tr>

    <tr ng-repeat="(key, dat) in $ctrl.data">
      <td>
        {{$ctrl.workshopToString(dat.workshop[0],2)}}
      </td>

      <td ng-class="{danger:dat.actualIncome!=dat.income}">
        {{dat.actualIncome | currency}} / {{dat.income | currency}}
      </td>

      <td ng-class="{danger:dat.actualIncome!=dat.income}">
        {{dat.actualIncome * $ctrl.curiosoPerc | currency}} / {{dat.income * $ctrl.curiosoPerc | currency}}
      </td>
    </tr>

    <tr class="active">
      <td><strong>Totales</strong></td>
      
      <td><strong>
        {{$ctrl.totalActualIncome | currency}} / 
        {{$ctrl.totalEstimatedIncome | currency}}
      </strong></td>

      <td><strong>
        {{$ctrl.totalActualIncome * $ctrl.curiosoPerc | currency}} / {{$ctrl.totalEstimatedIncome * $ctrl.curiosoPerc | currency}}
      </strong></td>
    </tr>
</table>

</section>
</div>


<!-- <div class="container-fluid">
  <div class="content"> -->




    <!-- INICIO LISTA ASISTENCIA -->
    <!-- <h2>Vista por Día</h2>
    <div><button class="btn btn-primary">Asistencia</button></div> -->

    <!-- Contact Select Input -->
<!--     <div class="form-group">
    	<label>Alumno</label>
    	<input type="text" ng-model="$ctrl.selected"
      uib-typeahead="(contact.first_name + ' ' + contact.last_name) for contact in $ctrl.contacts"
      typeahead-no-results="noResults"
      typeahead-wait-ms="100"
      typeahead-on-select="$ctrl.typeaheadOnSelect($item, $model, $label, $event)"
      class="form-control"
      tabindex="1"
      autofocus>
      <i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
         <i class="glyphicon glyphicon-remove"></i> No Hay Resultados

     </div>
 </div> -->
 <!-- END Contact Select Input -->

 <!-- Attendance Table -->
<!--  <table class="table table-striped">
   <tr>
      <th>Alumno</th>
      <th>Estatus</th>
  </tr>

  <tr ng-repeat="(key, dat) in $ctrl.attendance">
      <td>{{dat.first_name}}</td>
      <td>
         <span ng-show="dat.enrolment">Inscrito</span>
         <span ng-show="!dat.enrolment">
            No Inscrito
            <button class="btn btn-primary">Inscribir</button>
        </span>
        <span ng-show="dat.enrolment.isPaid">Pagado</span>
        <span ng-show="dat.enrolment.isPaid===false">No Pagado</span>
    </td>  -->
    <!-- <td><pre><code>{{dat | json}}</code></pre></td> -->
    		<!-- <td>{{dat.income | currency}}</td>
              <td>{{dat.actualIncome | currency}}</td> -->
<!--           </tr>
      </table> -->
      <!-- END Attendance Table -->


      <!-- <pre>{{$ctrl | json }}</pre> -->
      <!-- <pre><code>{{$ctrl.data | json}}</code></pre> -->
  <!-- </div> -->
<!-- </div> -->