<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Agregar Inscripción</h1>
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="content">
    <enrolments-add-form></enrolments-add-form>
  </div>
</div>