<form ng-submit="$ctrl.addEnrolment($ctrl.newEnrolment)">
	<div class="form-group">
		<label>Alumno</label>
		<input type="text" ng-model="$ctrl.selected"
			uib-typeahead="(contact.first_name + ' ' + contact.last_name) for contact in $ctrl.contacts"
			typeahead-no-results="noResults"
			typeahead-wait-ms="100"
			typeahead-on-select="$ctrl.typeaheadOnSelect($item, $model, $label, $event)"
			class="form-control"
			tabindex="1"
			autofocus>
		<i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults">
		  <i class="glyphicon glyphicon-remove"></i> No Hay Resultados
		</div>
	</div>

	<fieldset class="form-inline form-group">
		<div class="form-group">
			<label for="nameInput">Taller</label>
			<select ng-model="$ctrl.newEnrolment.workshopId"
				ng-options="ws._id as $ctrl.workshopToString(ws) for ws in $ctrl.workshops"
				class="form-control input-sm"
				tabindex="2"></select>
		</div>

		<div class="form-group">
			<label>Mes</label>
			<select ng-model="$ctrl.newEnrolment.month"
					ng-options="month.val as month.lbl for month in $ctrl.months"
					class="form-control input-sm"
					tabindex="3">
			</select>
		</div>

		<div class="form-group">
			<label>Año</label>
			<select ng-model="$ctrl.newEnrolment.year"
					ng-options="value for value in $ctrl.years"
					class="form-control input-sm"
					tabindex="4">
			</select>
		</div>

	</fieldset>

	<div 	class="form-groups"
			ng-hide="$ctrl.newEnrolment.oneClass && false">
		<label>Días:</label>
		<span ng-repeat="(key, day) in $ctrl.weekDays"
			style="padding-right:5px;">
			<input type="checkbox"
				checklist-model="$ctrl.newEnrolment.days"
				checklist-value="day.val"> {{day.lbl | limitTo:3}}
		</span>
	</div>

	<fieldset class="form-inline form-group">
		<div class="form-group">
			<label>Clase Suelta</label>
			<input type="checkbox"
               ng-model="$ctrl.newEnrolment.oneClass"
               ng-change="$ctrl.oneClassChange()"
               ng-true-value=true
               class="form-group">
            <input 	type="date"
            		ng-model="$ctrl.newEnrolment.oneClassDate"
					class="form-control input-sm"
					ng-shows="$ctrl.newEnrolment.oneClass"
					ng-disabled="!$ctrl.newEnrolment.oneClass">
		</div>




		<div class="form-group">
			<label for="feeInput">Monto</label>
			<input type="number" name="fee" 
				ng-model="$ctrl.newEnrolment.fee"
				class="form-control input-sm"
				tabindex="5">
		</div>

		<!-- <div class="form-group" ng-show="$ctrl.newEnrolment.paymentsSum==0">
			<label for="paymentInput">Pago</label>
			<input type="number"
				name="payment"
				ng-model="$ctrl.newEnrolment.payment"
				class="form-control input-sm"
				tabindex="6">
		</div> -->
	</fieldset>

	<!-- CALENDARIO -->
	<div class="form-group">
		<strong>Numero de Clases:</strong>

		<a href="" ng-click="$ctrl.showCalendar=!$ctrl.showCalendar;">{{$ctrl.newEnrolment.attendances.length}} </a>

		<br>
		{{$ctrl.monthDatePicker}}
		<div style="width:200px;" ng-show="$ctrl.showCalendar">
			<multiple-date-picker month="$ctrl.monthDatePicker" 
				ng-model="$ctrl.calendarSelectedDates"
				ng-change="$ctrl.test()"
	    	disable-navigation="true">
	    	</multiple-date-picker>
	    	<a href="" ng-click="$ctrl.showCalendar=false;">ocultar calendario</a>
	    </div>
    </div>

	<!-- TICKET ENVIADO -->
	<!-- </br>
	<div class="form-group">
		<label>Ticket Enviado
			<input type="checkbox"
		 ng-model="$ctrl.newEnrolment.ticketSent" name="ticketSent">
		</label>
	</div> -->

	<div class="form-group">
		<label>Ticket Enviado: </label>{{$ctrl.newEnrolment.ticketSentStatus}}
	</div>


	<!-- HISTORIAL DE ENVIO DE TICKETS -->
	<a href="" ng-click="$ctrl.showTicketHistory=!$ctrl.showTicketHistory">
		Historial de Tickets Enviados
	</a>
	
	<div ng-show="$ctrl.showTicketHistory==true">
		<div class="ticket-history-container header-row">
			<span>Fecha</span>
			<span>Taller</span>
			<span>Alumno</span>
			<span>Mes</span>
			<span>Año</span>
			<span>Precio</span>
			<span>Suma Pagos</span>
			<span>Num Clases</span>
		</div>

		<div ng-repeat="(key, story) in $ctrl.newEnrolment.ticketHistory"
			class="ticket-history-container gray-row">
			<span>{{story.sentDate | date:'dd MMM yyyy (HH:mm)'}}</span>
			<span>{{story.workshopName}}</span>
			<span>{{story.contactName }}</span>
			<span>{{story.workshopMonth | limitTo:3}}</span>
			<span>{{story.workshopYear}}</span>
			<span>{{story.enrolmentFee}}</span>
			<span>{{story.enrolmentPaymentsSum}}</span>
			<span>{{story.numberOfClasses}}</span>
		</div>
	</div>

	<!-- NOTAS -->
	<br><a href="" ng-click="$ctrl.showNota=true" ng-show="!$ctrl.newEnrolment.note && !$ctrl.showNota">agregar nota</a>
	<a href="" ng-click="$ctrl.showNota=false" ng-show="$ctrl.showNota">ocultar nota</a>

	<div class="enrolment-notes" ng-show="$ctrl.showNota || !!$ctrl.newEnrolment.note">
		<label>Notas:</label><br>
		<textarea ng-model="$ctrl.newEnrolment.note"></textarea>
	</div>


  <!-- PAGOS -->
	<div ng-if="$ctrl.newEnrolment.payments">
		<H2>Pagos</H2>
		<table class="table table-striped">
			<thead>
				<th>Fecha</th>
				<th>Cantidad</th>
			</thead>
			<tbody>
				<tr ng-repeat="(key, payment) in $ctrl.newEnrolment.payments track by $index">
					<td>
						<a ng-click="payment.opened=!payment.opened"
							ng-if="!payment.opened">
							{{payment.paymentDate | date:'dd MMM yyyy (HH:mm)'}}
						</a>
						<input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"
							ng-model="payment.paymentDate" is-open="payment.opened"
							datepicker-options="$ctrl.options"
							close-text="Close"
							ng-if="payment.opened"
							alt-input-formats="altInputFormats"/>
						<button type="button" class="btn btn-default"
							ng-click="payment.opened=!payment.opened"
							ng-if="payment.opened">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</td>
					<!-- <td>{{payment.paymentDate | date:'dd MMM yyyy (HH:mm)'}}</td> -->
					<td>{{payment.amount}}</td>

					<td>
						<button type="button" 
							ng-click="$ctrl.deletePayment(payment)"
							class="btn btn-danger">eliminar</button>
					</td>
				</tr>
				
				<tr>
					<td></td>

					<td><input type="number"
						tabindex="6" 
						ng-model='$ctrl.newPaymentAmount'
						ng-keydown="$ctrl.keydownHandler($event);">
					</td>

					<td><button type="button"
						ng-click="$ctrl.addPayment($ctrl.newPaymentAmount)"
						class="btn btn-primary"
						style="width:100%"
						ng-disabled="!$ctrl.newPaymentAmount">
						Agregar Pago
					</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- END OF PAGOS -->

	<hr>

	<!-- BOTONES ACCIONES FORM -->
	<div class="right">
		<input type="submit" class="btn btn-default" value="Guardar"
			tabindex="7"
			ng-disabled="(!$ctrl.newEnrolment.contactId
				|| !$ctrl.newEnrolment.workshopId 
				|| !$ctrl.newEnrolment.month
				|| !$ctrl.newEnrolment.year
				|| !$ctrl.newEnrolment.fee
			)">
		<input type="button"
			class="btn btn-danger btn-outline"
			value="Cancelar"
			ng-click="$ctrl.cancel()">
	</div>
	

</form>


<!-- DEBUG VARS -->

<div>

	<a role="button" ng-init="isCollapsed=true;" ng-click="isCollapsed = !isCollapsed">
		Debug Vars
	</a>

	<div uib-collapse="isCollapsed">

		<!-- <pre>
			<code>{{$ctrl.workshops | json}}</code>	
		</pre> -->

		<!--<pre>
		{{$ctrl.newEnrolment | json}}
		</pre>

		<pre>
		{{$ctrl.selected | json}}
    </pre>
	-->
	<pre><code>
   	{{$ctrl.newEnrolment | json }}
    </code></pre>

		<pre><code>
   	{{$ctrl.calendarSelectedDates | json }}
    </code></pre>

    <pre><code>
   	{{$ctrl.newEnrolment.attendances | json }}
    </code></pre>

	</div>

</div>