<!-- INSCRITOS VISTA SEMANA - MES -->

<h2>Inscritos vista Semana</h2>

<div class="week-view-container">
  <!-- Title Elements -->
  <div class="week-view-title week-view-seven">
      <div ng-repeat="(key, weekDay) in $ctrl.weekDays"
          class="week-view-column">
          
          <div>{{weekDay | limitTo:3}}</div>
          
          <div class="week-view-days">
              <span ng-repeat="(key, d) in $ctrl.weekDaysInMonth[key].days">
                  <span>{{d}}</span>
              </span>
          </div>
      </div>
  </div>
    
  <!--Week Elements-->
  <div class="week-view-body week-view-seven">
    <div ng-repeat="(weekday, day) in $ctrl.enrolmentsWeek">
      <div ng-repeat="(key, ws) in day.workshops">

        <strong>
            <span>{{ws.workshop.name}}</span>
        </strong> 
              
        <ul class="list-unstyled">
          <li ng-repeat="(key, e) in ws.enrolments"
              ng-class="{lightRed: !$ctrl.payed(e)}"
              class="week-view-column">
            <div>
             {{e.contact.first_name | limitTo:8}} {{e.contact.last_name | limitTo:1}}
            </div>

            <div class="week-view-days">
              <span ng-repeat="(key, d) in $ctrl.weekDaysInMonth[weekday].days" 
                    ng-shows="obj.status!=null"
                    ng-click="$ctrl.changeAttendance(e,e.days, obj)"
                    ng-init="obj = $ctrl.getDay(e.days, d)">
                    <!-- <span>{{obj}}<span> -->
                <span ng-show="obj.status==-1"
                    class="clickable" 
                    uib-tooltip="{{obj.day}}">○</span>
                <span class="red clickable" ng-show="obj.status==0"
                    uib-tooltip="{{obj.day}}">●</span>    
                <span class="green clickable"
                    uib-tooltip="{{obj.day}}" 
                    ng-show="obj.status==1">●</span>
              </span>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>