@import "../../client/vars";
.enrolments-title{
	display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
	.search-box{
		display: flex;
    align-items: center;
		input{
			width: 70px;
		}
		span{
			margin-right: $padding-medium;
		}
	}
}