<div print-remove>
  <!-- HEADER -->
  <header class="section-header">
    <h1>Inscripciones</h1>

    <div id="enrolment-date-controller">
      
      <!-- <label class="">Mes</label> -->
      
      <select ng-model="$ctrl.search.month"
                ng-options="month.val as month.lbl for month in $ctrl.months"
                class="form-control">
        <option value="{lbl:'', val:'!'}"></option>
      </select>
        
      <select ng-model="$ctrl.search.year"
              ng-options="year as year for year in $ctrl.years"
              class="form-control">
        <option ng-value=''></option>
      </select> 

      <!-- <label>Ver Todos
        <input type="checkbox"
               ng-model="$ctrl.showAllChck"
               ng-true-value="true"
               ng-false-value="false"
               ng-change="$ctrl.showAllChange($ctrl.showAllChck)"
               class="form-group">
      </label> -->
      <button type="button" class="btn btn-primary"
          id="btn-add-enrolment" 
          ui-sref="enrolmentsAddForm">Agregar Inscripción</button>
    </div>

  </header>
    

<!-- ENROLMENT LIST -->
<div class="enrolment-list">
  <div class="enrolments-title">
    <h2>Inscritos</h2>
    <div class="search-box">
      <span class="glyphicon glyphicon-search"></span> 
      <input type="text" ng-model="$ctrl.filter.$" class="form-control input-sm"/>
    </div>
  </div>

  <div class="enrolment-item header-row">
    <div class="align-left" ng-click="$ctrl.sortBy('contact.first_name')">
        Alumno
        <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
            class="glyphicon"
            ng-show='$ctrl.equals($ctrl.propertyName,"contact.first_name")'></span>
    </div>

    <div class="align-left" ng-click="$ctrl.sortBy('workshop.name')">
      Taller
      <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
            class="glyphicon"
            ng-show='$ctrl.equals($ctrl.propertyName,"workshop.name")'></span>
    </div> 
    
    <div ng-click="$ctrl.sortBy('workshop.teacher')">
        Maestro
        <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
            class="glyphicon"
            ng-show='$ctrl.equals($ctrl.propertyName,"workshop.teacher")'></span>
    </div>
    
    <div ng-click="$ctrl.sortBy(['year','month'])">
        Mes
        <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
            class="glyphicon"
            ng-show='$ctrl.equals($ctrl.propertyName,["year","month"])'></span>
    </div>
    
    <div ng-click="$ctrl.sortBy('paymentsSum')">
        Pagos
        <span ng-class="{'glyphicon-chevron-up':$ctrl.reverse, 'glyphicon-chevron-down':!$ctrl.reverse}"
            class="glyphicon"
            ng-show="$ctrl.equals($ctrl.propertyName,'paymentsSum')"></span>
    </div>

    <div><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>

    <div>Acciones</div>
  </div>

  <div ng-repeat="enrolment in $ctrl.enrolments | filter:$ctrl.filter | orderBy:$ctrl.propertyName:$ctrl.reverse track by $index"
        class="{{enrolment.paymentsSum}} enrolment-item {{$index%2 == 0? 'even' : 'odd'}}" 
        ng-class="{lightRed: !$ctrl.payed(enrolment) }">
    <!-- STUDENT NAME -->
    <div class="enr-name"><a ui-sref="contactsView({contactId: enrolment.contact._id})">
      {{enrolment.contact.first_name}} {{enrolment.contact.last_name}} <span ng-if="enrolment.oneClass">(Clase Suelta)</span>
    </a></div>

    <!-- WORKSHOP NAME -->
    <div class="enr-workshop"><a ui-sref="workshopsView({workshopId: enrolment.workshop._id})">
      {{$ctrl.workshopToString(enrolment.workshop)}}</a>
    </div>

    <!-- TEACHER NAME -->
    <div class="enr-teacher">{{enrolment.workshop.teacher.first_name}}</div>

    <!-- MONTH -->
    <div class="enr-month">{{$ctrl.getMonth(enrolment.month) | limitTo:3}} {{enrolment.year | limitTo: 2 : -2 }}</div>

    <!-- PAYMENTS -->
    <div class="enr-payments">
      <a ng-click="enrolment.paymentDetail = !enrolment.paymentDetail">{{enrolment.paymentsSum? enrolment.paymentsSum : 0}}</a>/{{enrolment.fee ? enrolment.fee : 0}} 
        <!-- HIDDEN ADD PAYMENT -->
        <div ng-show="enrolment.showAddPayment">
            <input type="text" name="amount" ng-model="enrolment.amount">
            <input type="submit"
                classs="btn btn-default"  
                ng-click="$ctrl.addPaymentEnrolment(enrolment, enrolment.amount)"
                value="agregar">
        </div>
        <!-- LIST OF PAYMENTS -->
        <ul ng-show="enrolment.paymentDetail"
            class="list-unstyled">
            <li ng-repeat="(key, payment) in enrolment.payments track by $index">{{payment.paymentDate | date:'dd MMM'}} ${{payment.amount}}</li>
        </ul>
    </div>

    <!-- SENT EMAIL STATUS -->
    <div class="enr-email-status">
      <span ng-if="enrolment.ticketSentStatus=='SENT_UPDATED'"
          class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
      <span ng-if="enrolment.ticketSentStatus=='SENT_OUTDATED'"
          class="glyphicon glyphicon-ok red" aria-hidden="true"
          uib-tooltip="Editado después de enviado"></span>
      <span ng-if="enrolment.ticketSentStatus=='NOT_SENT'"
          class="glyphicon glyphicon-minus" aria-hidden="true"></span>
    </div>

    <!-- BUTTONS -->
    <div class="enrolments-buttons">
      <!-- SEND RECEIPT BY EMAIL -->
      <button ng-click="!enrolment.contact.email || $ctrl.sendTicket(enrolment)"
                  class="btn btn-default btn-sm"
                  ng-class="{disabled: !enrolment.contact.email}"
                  uib-tooltip="{{!enrolment.contact.email? 'No tiene email':null;}}"
                  >
                  <span class="glyphicon glyphicon-envelope"></span> 
      </button>

      <!-- ADD PAYMENT NOW -->
      <!-- <button ng-click="$ctrl.showAddPayment(enrolment)"
              class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-usd"></span> 
      </button> -->

      <!-- EDIT ENROLMENT BUTTON -->
      <a class="btn btn-default btn-sm"
         ui-sref="enrolmentsEdit({enrolmentId: enrolment._id})">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      
      <!-- DELETE ENROLMENT BUTTON -->
      <button ng-click="$ctrl.deleteEnrolment(enrolment)"
              class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>

  </div>

  <!-- <div><pre>{{ $ctrl.enrolments  |  json}}</pre></div> -->


Totales: {{$ctrl.enrolmentsPaymentsSum | currency }} / {{$ctrl.enrolmentsFeeSum | currency}}

<!-- <enrolments-week-monthly month="{{ $ctrl.search.month }}", year="2018"> </enrolments-week-monthly> -->

</div> <!-- END ENROLMENT LIST -->


<!-- //////////////// -->
<!-- PRINT TEMPLATE   -->
<!-- //////////////// -->
<!-- <div ng-include="'client/printTemplate.html'" ></div> -->

</div>