<div class="modal-header" id='loginModal.html'>
        <center><h3 class="modal-title" id="modal-title">Curioso Workshop</h3></center>
    </div>

    <div>
      <div class="alert alert-{{alert.type}}" ng-repeat="alert in $ctrl.alerts">
        <button type="button" class="close" ng-click="$ctrl.closeAlert(index)">&times;</button>
        <div>{{alert.message}}</div>
      </div><!-- end alert -->
      <div class="alert alert-info" ng-show="model.loading">
        LOADING...
      </div>
    </div>
        
    <div class="modal-body login-modal" id="modal-body">

      <form ng-hide="appModel.loggedIn"
            ng-submit="$ctrl.login($ctrl.model.login)" >
        <div>
          <label>Email</label>
          <input type="text" name="email" class="m-15"
            ng-model="$ctrl.model.login.email"
            placeholder="email"
            autofocus>
        </div>

        <div>
          <label>Password</label>
          <input type="password" name="password"
            ng-model="$ctrl.model.login.password"
            placeholder="contraseña">
        </div>

        <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>

      </form>

    </div>
  
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="$ctrl.login($ctrl.model.login)">Iniciar sesión</button>
      <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
      <!-- <pre><code>{{$ctrl.alerts}}</code></pre> -->
    </div>