<div id="home" >
  <div class="container">
    <div ng-if="!currentUser" ng-cloak>
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                <h1>Curioso Workshop</h1>
                <p>Administración de contactos, talleres e inscripciones.</p>
                <p>
                  <button class="btn btn-primary btn-lg"
                  ng-cloak
                  ng-click="$ctrl.showSignIn()"
                  ng-show="!currentUser">Iniciar Sesión</button>
                </p>
              </div>
              <div class="col-xs-12 col-md-6">

              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <h2 class="text-center">No estas loggeado</h2>
        </div>
      </div>
    </div>
  </div>
</div>