<div class="header-menu-mobile">
   <input type="checkbox"
  	id="overlay-input" ng-model="$ctrl.showMenu">
   <label for="overlay-input" id="overlay-button">
   	<span></span></label>
   <div id="overlay">
      <ul>
      	<span ng-show="!!$ctrl.$rootScope.currentUser">
	         <li ng-if="$ctrl.canISee('admin')">
	         	<a ng-click="$ctrl.closeMenu()" 
	         		href="/dashboard">Dashboard</a>
	         </li>
	         <li ng-if="$ctrl.canISee('admin')"><a href="/contacts"
              
	         		ng-click="$ctrl.closeMenu()">Contactos</a></li>
	         <li ng-if="$ctrl.canISee('admin')"><a href="/workshops"
              
	         		ng-click="$ctrl.closeMenu()">Talleres</a></li>
	         <li ng-if="$ctrl.canISee('admin')"><a href="/enrolments"
              
	         		ng-click="$ctrl.closeMenu()">Inscripciones</a></li>
            <li ng-if="$ctrl.canISee(['admin','teachers'])"><a 
              
              ng-click="$ctrl.gotoCallRoll();">Asistencia</a></li>
         </span>
         <li>
         		<a ng-cloak
              ng-click="$ctrl.showSignIn()"
              ng-show="!$ctrl.$rootScope.currentUser">Iniciar Sesión</a>
           	<a 
           		ng-cloak
           		ng-show="!!$ctrl.$rootScope.currentUser"
              ng-click="$ctrl.logout()">Cerrar Sesión ({{$ctrl.$rootScope.currentUser.username}})</a>
         </li>
      </ul>
   </div>
</div>

<div class="header-menu main-menu">
   <div ng-if="$ctrl.canISee('admin')">
    <a class=""
      href="/dashboard"
      ng-class="{active:$ctrl.$state.current.name=='dashboard'}">Dashboard</a></div>
  <div ng-if="$ctrl.canISee('admin')">
    <a aria-current="page"
      href="/contacts"
      ng-class="{active:$ctrl.$state.current.name=='contacts'}">Contactos</a></div>
    <div ng-if="$ctrl.canISee('admin')">
    <a class=""
      href="/workshops"
      ng-class="{active:$ctrl.$state.current.name=='workshops'}">Talleres</a></div>
  <div ng-if="$ctrl.canISee('admin')">
    <a class="" href="/enrolments"
      ng-class="{active:$ctrl.$state.current.name=='enrolments'}">Inscripciones
    </a></div>
  <div ng-if="$ctrl.canISee(['admin','teachers'])">
    <a 
      ng-click="$ctrl.gotoCallRoll();"
      ng-class="{active:$ctrl.$state.current.name=='callroll'}">Asistencia
    </a></div>
  <div>
    <a ng-cloak
      ng-click="$ctrl.showSignIn()"
      ng-show="!$ctrl.$rootScope.currentUser">Iniciar Sesión</a>
    <a 
      ng-cloak
      ng-show="!!$ctrl.$rootScope.currentUser"
      ng-click="$ctrl.logout()">Cerrar Sesión ({{$ctrl.$rootScope.currentUser.username}})</a></div>
</div>

