<form ng-submit="$ctrl.addUser($ctrl.newUser)">

	<div class="form-group">
		<label for="usernameInput">Nombre de Usuario</label>
		<input type="text" id="username" autocomplete="username" 
			class="form-control"
			ng-model="$ctrl.newUser.username" name="username">
	</div>

	<!-- EMAIL -->
	<div class="form-group">
		<label for="emailInput">Email</label>
		<input type="text" id="email" 
			class="form-control" autocomplete="email" 
			ng-model="$ctrl.newUser.email" name="email">
	</div>

	<div class="form-group">
		<label for="passwordInput">Password</label>
		<input type="password" id="passwordInput"
			autocomplete="current-password" 
			class="form-control" 
			ng-model="$ctrl.newUser.password" name="password">
	</div>

	<div class="form-group">
		<label for="firstNameInput">Nombre</label>
		<input type="text" id="firstName" 
			class="form-control" 
			ng-model="$ctrl.newUser.profile.first_name" name="first_name">
	</div>

	<div class="form-group">
		<label for="lastnameInput">Apellido</label>
		<input type="text" id="lastNameInput" 
			class="form-control" 
			ng-model="$ctrl.newUser.profile.last_name" name="lastNameInput">
	</div>

	<!-- Contacto Typeahead -->
	<div class="form-group">
		<label>Contacto</label>
		<input type="text" ng-model="$ctrl.contactSrch"
			uib-typeahead="(contact.first_name + ' ' + contact.last_name) for contact in $ctrl.contacts"
			typeahead-no-results="noResults"
			typeahead-wait-ms="100"
			typeahead-on-select="$ctrl.typeaheadOnSelect($item, $model, $label, $event)"
			class="form-control"
			tabindex="1"
			autofocus>
		<i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults">
		  <i class="glyphicon glyphicon-remove"></i> No Hay Resultados
		</div>
	</div>

	<input type="submit" 
			value="Guardar" 
			class="btn btn-default" />
	<button type="button" 
		class="btn btn-danger"
		ng-click="$ctrl.cancel()">
		Cancelar
	</button>
</form>

<div>
	<ul class="list-group" style="display: inline-grid; margin: 20px;">
		<li class="list-group-item" ng-repeat="user in $ctrl.users">
			nombre: {{user.profile.first_name}} {{user.profile.last_name}} <br>
			username: {{user.username}}<br>
			roles: {{user.roles}}
			{{$ctrl.roles}}<br>
			<select ng-model="user.roles[0]"
				ng-options="role as role for role in $ctrl.roles"
				class="form-control input-sm"
				tabindex="2"></select>
		</li>

		<li>
			<button type="button"
				ng-if="$ctrl.users" 
				class="btn btn-default"
				ng-click="$ctrl.saveRoles()">
				Guardar
			</button>

			<button type="button"
				ng-if="$ctrl.users"
				class="btn btn-danger"
				ng-click="$ctrl.cancel()">
				Cancelar
			</button>
		</li>
	</ul>
</div>
 
<pre>{{ $ctrl.rootScope }}</pre>
<!-- <pre>{{$ctrl.newUser | json}}</pre> -->