<header>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h1>Editar Taller</h1>
        </div>
      </div>
    </div>
</header>
 
<div class="container-fluid">
	<div class="content">
		<workshops-edit-form></workshops-edit-form>
  	</div> 
</div>