<form ng-submit="$ctrl.addWorkshop($ctrl.newWorkshop)">
	<div class="form-group">
		<label for="nameInput">Nombre</label>
		<input type="text" id="nameInput" 
			class="form-control" 
			ng-model="$ctrl.newWorkshop.name" name="namee">
	</div>

	<!-- Maestro Typeahead -->
	<div class="form-group">
		<label>Maestro</label>
		<input type="text" ng-model="$ctrl.selected"
			uib-typeahead="(contact.first_name + ' ' + contact.last_name) for contact in $ctrl.contacts"
			typeahead-no-results="noResults"
			typeahead-wait-ms="100"
			typeahead-on-select="$ctrl.typeaheadOnSelect($item, $model, $label, $event)"
			class="form-control"
			tabindex="1"
			autofocus>
		<i ng-show="loadingContacts" class="glyphicon glyphicon-refresh"></i>
		<div ng-show="noResults">
		  <i class="glyphicon glyphicon-remove"></i> No Hay Resultados
		</div>
	</div>

	<div>
		<label>Días:</label>
		<span ng-repeat="(key, wd) in $ctrl.weekDays"
			style="padding-right:5px;">
			<input type="checkbox"
				checklist-model="$ctrl.newWorkshop.days"
				checklist-value="wd.val"> {{wd.lbl | limitTo:3}}
		</span>
	</div>


	<input type="submit" 
			value="Guardar" 
			class="btn btn-default" />
	<button type="button" 
		class="btn btn-danger"
		ng-click="$ctrl.cancel()">
		Cancelar
	</button>
</form>
<!-- <pre>{{$ctrl.contacts | json}}</pre> -->
<pre>{{$ctrl.newWorkshop | json}}</pre>