<header class="section-header">
  <h1 class="section-title" >Talleres</h1>
  
  <button type="button"
    class="btn btn-primary btn-header"
    ui-sref="workshopsAdd">
    Agregar Taller
  </button>

</header>

<div class="container-fluid">
  <div class="content">
    <table class="table">
      <thead>
          <th>Nombre</th>
          <th>Maestro</th>
          <th></th>
      </thead>
      <tbody>
          <tr ng-repeat="workshop in $ctrl.workshops" class="{{$index%2 == 0? 'even' : 'odd'}}">
              <td><a ui-sref="workshopsView({workshopId: workshop._id})">
              {{workshop.name}}
              <span ng-if="workshop.days.length">
                  (<span ng-repeat="(key, value) in workshop.days"> {{ $ctrl.dayToString(value) }}</span> )
              </span>
              </a></td>

              <td>{{workshop.teacher.first_name}}</td>
              <!-- <td>{{workshop.created}}</td> -->

              <td class="adjust-to-content">
                  <!-- <a class="btn btn-default"
                      ui-sref="workshopsView({workshopId: workshop._id})">ver</a> -->
                  <a class="btn btn-default btn-sm"
                      ui-sref="workshopsEdit({workshopId: workshop._id})">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </a>

                  <button class="btn btn-danger btn-sm"
                      ng-click="$ctrl.archiveWorkshop(workshop)">
                      <span class="glyphicon glyphicon-remove"></span>
                  </button>
              </td>
          </tr>
      </tbody>
    </table>

    <header>
      <h1 class="h1-style">Talleres Borrados</h1>
    </header>

    <table class="table">
      <thead>
          <th>Nombre</th>
          <th>Maestro</th>
          <th></th>
      </thead>
      <tbody>
          <tr ng-repeat="workshop in $ctrl.archived"
            class="{{$index%2 == 0? 'even' : 'odd'}}">
              <td><a ui-sref="workshopsView({workshopId: workshop._id})">
              {{workshop.name}}
              <span ng-if="workshop.days.length">
                  (<span ng-repeat="(key, value) in workshop.days"> {{ $ctrl.dayToString(value) }}</span> )
              </span>
              </a></td>

              <td>{{workshop.teacher.first_name}}</td>
              <!-- <td>{{workshop.created}}</td> -->

              <td class="adjust-to-content">
                  <!-- <a class="btn btn-default"
                      ui-sref="workshopsEdit({workshopId: workshop._id})">
                      <span class="glyphicon glyphicon-pencil"></span>
                  </a> -->

                  <button class="btn btn-primary btn-sm"
                      ng-click="$ctrl.restoreWorkshop(workshop)">
                      Restaurar
                  </button>
                  <button class="btn btn-danger btn-sm"
                      ng-click="$ctrl.deleteWorkshop(workshop)">
                      Borrar
                  </button>
              </td>
          </tr>
      </tbody>
    </table>
    <!-- <pre><code>{{$ctrl | json}}</code></pre> -->
    <!-- <pre><code>{{$ctrl.workshops | json}}</code></pre>
    <pre><code>{{$ctrl.archived | json}}</code></pre> -->
  </div>
</div>