<header>
  <h1>Detalle del Taller</h1>
</header>

<div class="row">
	<!-- Workshop Name -->
	<div class="col-sm-12"><h2>{{$ctrl.workshop.name}}</h2></div>

	<!-- Teachers name -->
	<div class="col-sm-3"><strong>Maestro:</strong></div>
	<div class="col-sm-9"><a ui-sref="contactsView({contactId: $ctrl.workshop.teacher._id})">
	{{$ctrl.workshop.teacher.first_name + ' ' + $ctrl.workshop.teacher.last_name}}</a> 
	</div>
	<br>

	<!-- Workshop Days -->
	<div class="col-sm-3"><strong>Días:</strong></div>
	<div class="col-sm-9">{{$ctrl.daysToString($ctrl.workshop.days)}}</div>
	<br>
	
	<!-- <strong>Creado:</strong> {{$ctrl.workshop.createdAt}} <br> -->
	<div class="col-sm-6">
	<a class="btn btn-primary"
		ui-sref="workshopsEdit({workshopId: $ctrl.workshop._id})">editar</a>
	</div>
</div>

<enrolments-list workshop-id="$ctrl.workshopId"></enrolments-list>

<!-- <pre>{{$ctrl.workshop | json}}</pre> -->