<!-- <template name="noRoutesTemplate">
    test
</template> 
 -->
<body>
  <div>
    <a id="t.40016fd9d426fde129a1b6762a8fdfc3199f6166"></a>
    <a id="t.3"></a>
    <table
      class="c15"
      style="
        margin-left: 16.8pt;
        border-spacing: 0;
        border-collapse: collapse;
        margin-right: auto;
      "
    >
      <tbody>
        <tr class="c36" style="height: 21pt">
          <td>
            <img
              alt=""
              src="https://res.cloudinary.com/curioso-circo/image/upload/v1670835673/curioso-circo-logo-corto-gris.png"
              style="
                width: 148px;
                height: 55px;
                margin-left: 0px;
                margin-top: 0px;
                transform: rotate(0rad) translateZ(0px);
                -webkit-transform: rotate(0rad) translateZ(0px);
              "
              title=""
            />
          </td>
          <td
            class="c16"
            colspan="1"
            rowspan="1"
            style="
              text-align: right; /* padding: 5pt 5pt 5pt 5pt; */
              border-right-style: solid;
              border-bottom-color: #ff0000;
              border-right-width: 0pt;
              border-left-color: #ff0000;
              vertical-align: top;
              border-right-color: #ff0000;
              border-left-width: 0pt;
              border-left-style: solid;
              border-bottom-width: 0pt;
              width: 511pt;
              border-bottom-style: solid;
              padding-top: 19px;
            "
          >
            <p
              class="c38 c47"
              style="
                line-height: 27px;
                margin: 0;
                color: #000000;
                background-color: #000000;
                font-size: 11pt;
                padding-right: 20px;
              "
              trebuchet=""
            >
              <span
                class="c22"
                style="
                  font-size: 10pt;
                  font-family: 'The Girl Next Door';
                  font-style: italic;
                  color: #ffffff;
                  font-weight: 400;
                "
                >Circo Contemporáneo</span
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      class="c20 c12 c29"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        text-align: justify;
        margin-left: -45pt;
        height: 11pt;
      "
    >
      <span
        class="c2"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 11pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
  </div>
  <p
    class="c13 c18 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
      orphans: 2;
      widows: 2;
      height: 11pt;
    "
  >
    <span
      class="c41"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 10pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <p
    class="c4 title"
    id="h.nkzpz3kbn7yw"
    style="
      /* margin: 0; */
      color: #000000;
      font-size: 21pt;
      font-family: Trebuchet MS, sans-serif;
      margin-left: 18pt;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      page-break-after: avoid;
      text-align: left;
      orphans: 2;
      widows: 2;
      max-width: 831px; /* background-color: aliceblue; */
    "
  >
    <span
      class="c9"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 21pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
      >Recibo de Pago del Taller de {{workshop.name}}</span
    >
  </p>
  <p
    class="c7"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1.15;
      orphans: 2;
      widows: 2;
      text-align: left;
      height: 11pt;
    "
  >
    <span
      class="c2"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <a id="t.91975a573739942cc5a21e54a86173b8eb54f4e3"></a>
  <a id="t.0"></a>
  <table
    class="c40"
    style="
      margin-left: 18pt;
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto;
    "
  >
    <tbody>
      <tr class="c49" style="height: 22pt">
        <td
          class="c33"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c13"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: left;
            "
          >
            <span
              class="c23 c32"
              style="
                margin-left: 15px;
                font-weight: 400;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
                color: #ffffff;
              "
              >Nombre</span
            >
          </p>
        </td>
        <td
          class="c10"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #d5d5d5;
            border-left-style: solid;

            width: 500pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c11"
              style="
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                font-style: normal;
              "
              >{{contact.first_name}} {{contact.last_name}}</span
            >
          </p>
        </td>
      </tr>

      <!-- MONTH -->
      <tr class="c21" style="height: 0pt">
        <td
          class="c33"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c13"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: left;
            "
          >
            <span
              class="c17 c23"
              style="
                margin-left: 15px;
                color: #ffffff;
                text-decoration: none;
                vertical-align: baseline;
                font-style: normal;
                font-weight: 400;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
              "
              >Mes</span
            >
          </p>
        </td>
        <td
          class="c10"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #d5d5d5;
            border-left-style: solid;

            width: 343.5pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c11"
              style="
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                font-style: normal;
              "
              >{{monthString}} {{year}}</span
            >
          </p>
        </td>
      </tr>
      <tr class="c21" style="height: 0pt">
        <td
          class="c33"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c13"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: left;
            "
          >
            <span
              class="c17 c23"
              style="
                margin-left: 15px;
                color: #ffffff;
                text-decoration: none;
                vertical-align: baseline;
                font-style: normal;
                font-weight: 400;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
              "
              >Precio</span
            >
          </p>
        </td>
        <td
          class="c10"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            border-bottom-color: #9c9c9c;
            border-left-color: #9c9c9c;
            vertical-align: middle;
            border-right-color: #9c9c9c;
            border: 0px;
            background-color: #d5d5d5;
            border-left-style: solid;

            width: 343.5pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c11"
              style="
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                font-style: normal;
              "
              >{{numberOfClasses}} clases - ${{fee}}</span
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  <p
    class="c13 c18 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
      orphans: 2;
      widows: 2;
      height: 11pt;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <h1
    class="c52"
    id="h.fav8v9xgh8vd"
    style="
      padding-top: 10pt;
      color: #000000;
      font-size: 16pt;
      padding-bottom: 0pt;
      font-family: Trebuchet MS, sans-serif;
      line-height: 1;
      page-break-after: avoid;
      orphans: 2;
      widows: 2;
      text-align: left;
      text-indent: 18pt;
    "
  >
    <span
      class="c44 c45"
      style="
        color: #000000;
        font-weight: 400;
        font-size: 16pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
        text-decoration: none;
        vertical-align: baseline;
      "
      >Pagos</span
    >
  </h1>
  <p
    class="c13 c18 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
      orphans: 2;
      widows: 2;
      height: 11pt;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <a id="t.58e9104ac88fdeed9732b579aaec4f305ab184c1"></a>
  <a id="t.1"></a>

  <!-- TABLA PAGOS  -->

  {{#if payments}}
  <table
    class="c51"
    style="
      margin-left: 15.8pt;
      border-spacing: 0;
      border-collapse: collapse;
      margin-right: auto;
      width: 100%;
      max-width: 831px;
    "
  >
    <tbody>
      <tr class="c5" style="height: 36pt">
        <td
          class="c26"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c23 c32"
              style="
                font-weight: 400;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
                color: #ffffff;
              "
              >Fecha</span
            >
          </p>
        </td>
        <td
          class="c37"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 342.8pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c30"
              style="
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                color: #ffffff;
                font-weight: 400;
              "
              >Monto</span
            >
          </p>
        </td>
      </tr>
      {{#each payments}}
      <tr class="c6" style="height: 41pt">
        <td
          class="c25"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            background-color: #d5d5d5;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c0"
              style="
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
                font-style: normal;
              "
              >{{date}}</span
            >
          </p>
        </td>
        <td
          class="c28"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            background-color: #d5d5d5;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            border-left-style: solid;

            width: 500pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c11"
              style="
                color: #000000;
                font-weight: 400;
                text-decoration: none;
                vertical-align: baseline;
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                font-style: normal;
              "
              >{{amount}}</span
            >
          </p>
        </td>
      </tr>
      {{/each}}

      <tr class="c6" style="height: 41pt">
        <td
          class="c26"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 102pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c23 c32"
              style="
                font-weight: 400;
                font-size: 14pt;
                font-family: Trebuchet MS, sans-serif;
                color: #ffffff;
              "
              >Total</span
            >
          </p>
        </td>
        <td
          class="c37"
          colspan="1"
          rowspan="1"
          style="
            padding: 5pt 5pt 5pt 5pt;
            border-right-style: solid;
            vertical-align: middle;
            border: 0px;
            background-color: #373a3d;
            border-left-style: solid;

            width: 342.8pt;
            border-bottom-style: solid;
          "
        >
          <p
            class="c24"
            style="
              margin: 0;
              color: #000000;
              font-size: 11pt;
              font-family: Trebuchet MS, sans-serif;
              padding-top: 0pt;
              padding-bottom: 0pt;
              line-height: 1;
              text-align: center;
            "
          >
            <span
              class="c30"
              style="
                font-size: 12pt;
                font-family: Trebuchet MS, sans-serif;
                color: #ffffff;
                font-weight: 400;
              "
              >{{paymentsSum}}</span
            >
          </p>
        </td>
      </tr>
    </tbody>
  </table>
  {{else}}
  <div style="margin-left: 18pt">No hay pagos registrados</div>
  {{/if}}
  <!-- END TABLA PAGOS -->

  <div style="max-width: 830px">
    <p
      class="c13 c12 c18"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        text-align: left;
        orphans: 2;
        widows: 2;
        height: 11pt;
      "
    >
      <span
        class="c0"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 14pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
    <p
      class="c3 c12"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: center;
        height: 11pt;
      "
    >
      <span
        class="c11"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 12pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
    <p
      class="c3"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: center;
      "
    >
      <span
        class="c1"
        style="
          font-size: 14pt;
          font-family: Trebuchet MS, sans-serif;
          font-weight: 400;
        "
        ><br /><br /></span
      ><span
        style="
          overflow: hidden;
          display: inline-block;
          margin: 0px 0px;
          border: 0px solid #000000;
          transform: rotate(0rad) translateZ(0px);
          -webkit-transform: rotate(0rad) translateZ(0px);
          width: 214.87px;
          height: 57.5px;
        "
        ><img
          alt=""
          src="https://res.cloudinary.com/curioso-circo/image/upload/v1670835471/curioso-circo-logo-typo.png"
          style="
            width: 214.87px;
            height: 57.5px;
            margin-left: 0px;
            margin-top: 0px;
            transform: rotate(0rad) translateZ(0px);
            -webkit-transform: rotate(0rad) translateZ(0px);
          "
          title=""
      /></span>
    </p>
    <p
      class="c3 c12"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: center;
        height: 11pt;
      "
    >
      <span
        class="c0"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 14pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
    <p
      class="c3"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        margin-left: 36pt;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1;
        orphans: 2;
        widows: 2;
        text-align: center;
      "
    >
      <span
        class="c41"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 10pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
        >Daniel González Duarte</span
      >
    </p>
  </div>

  <p
    class="c18 c42"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      margin-left: 72pt;
      padding-top: 0pt;
      text-indent: 36pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: justify;
      orphans: 2;
      widows: 2;
    "
  >
    <span
      class="c8"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 8pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
      >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    </span>
  </p>
  <p
    class="c3"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      margin-left: 36pt;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      orphans: 2;
      widows: 2;
      text-align: center;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
      >&nbsp;</span
    >
  </p>
  <p
    class="c3 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      margin-left: 36pt;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      orphans: 2;
      widows: 2;
      text-align: center;
      height: 11pt;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <p
    class="c3 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      margin-left: 36pt;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      orphans: 2;
      widows: 2;
      text-align: center;
      height: 11pt;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <p
    class="c13 c18 c12"
    style="
      margin: 0;
      color: #000000;
      font-size: 11pt;
      font-family: Trebuchet MS, sans-serif;
      padding-top: 0pt;
      padding-bottom: 0pt;
      line-height: 1;
      text-align: left;
      orphans: 2;
      widows: 2;
      height: 11pt;
    "
  >
    <span
      class="c0"
      style="
        color: #000000;
        font-weight: 400;
        text-decoration: none;
        vertical-align: baseline;
        font-size: 14pt;
        font-family: Trebuchet MS, sans-serif;
        font-style: normal;
      "
    ></span>
  </p>
  <div>
    <p
      class="c12 c20"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        text-align: justify;
        height: 11pt;
      "
    >
      <span
        class="c35"
        style="
          color: #666666;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 8pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
    <a id="t.22b01fbe9060ff386afaa146b152b8e50304752f"></a>
    <a id="t.2"></a>
    <table
      class="c46"
      style="margin-left: 22px; border-spacing: 0; border-collapse: collapse"
    >
      <tbody>
        <tr class="c21" style="height: 0pt">
          <td
            class="c31"
            colspan="1"
            rowspan="1"
            style="
              padding: 5pt 5pt 5pt 5pt;
              border-right-style: solid;
              border-bottom-color: #262424;
              border-left-color: #262424;
              vertical-align: top;
              border-right-color: #262424;
              border: 0px;
              background-color: #262424;
              border-left-style: solid;

              width: 357pt;
              border-bottom-style: solid;
            "
          >
            <p
              class="c43"
              style="
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: Trebuchet MS, sans-serif;
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                text-align: justify;
              "
            >
              <span
                class="c32 c39"
                style="
                  font-size: 10pt;
                  font-family: 'The Girl Next Door';
                  font-weight: 400;
                  color: #ffffff;
                "
                >La Curiosidad me llevó al Circo | Celular: </span
              ><span
                class="c17 c48"
                style="
                  color: #ffffff;
                  text-decoration: none;
                  vertical-align: baseline;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 8pt;
                  font-family: Trebuchet MS, sans-serif;
                "
                >044 99 91 79 77 66</span
              >
            </p>
          </td>
          <td
            class="c34"
            colspan="1"
            rowspan="1"
            style="
              padding: 5pt 5pt 5pt 5pt;
              border-right-style: solid;
              border-bottom-color: #262424;
              border-left-color: #262424;
              vertical-align: top;
              border-right-color: #262424;
              border: 0px;
              background-color: #222222;
              border-left-style: solid;

              width: 244pt;
              border-bottom-style: solid;
            "
          >
            <p
              class="c38"
              style="
                margin: 0;
                color: #000000;
                font-size: 11pt;
                font-family: Trebuchet MS, sans-serif;
                padding-top: 0pt;
                padding-bottom: 0pt;
                line-height: 1;
                text-align: right;
              "
            >
              <span
                class="c22 c44"
                style="
                  font-size: 10pt;
                  font-family: 'The Girl Next Door';
                  font-style: italic;
                  color: #ffffff;
                  font-weight: 400;
                  text-decoration: none;
                  vertical-align: baseline;
                "
                >Curioso Circo , Circo Contemporáneo</span
              >
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <p
      class="c12 c50"
      style="
        margin: 0;
        color: #000000;
        font-size: 11pt;
        font-family: Trebuchet MS, sans-serif;
        padding-top: 0pt;
        padding-bottom: 0pt;
        line-height: 1.15;
        text-align: center;
        height: 11pt;
      "
    >
      <span
        class="c2"
        style="
          color: #000000;
          font-weight: 400;
          text-decoration: none;
          vertical-align: baseline;
          font-size: 11pt;
          font-family: Trebuchet MS, sans-serif;
          font-style: normal;
        "
      ></span>
    </p>
  </div>
</body>
